<h1>Mi Primer formulario</h1>
<hr>


<div class="container">
  <form (ngSubmit)="guardar()" #forma="ngForm">
    <div class="row">
      <div class="col-5">
        <label for="name" class="lbl">Nombres</label>
      </div>
    </div>
    <input type="text" 
    id="name" 
    placeholder="nombres..." 
    class="textbox" 
    name="nombre" 
    [(ngModel)]="persona.nombre"
    required
    minlength="5"
    #nombre="ngModel"
    [class.is-invalid]="nombre.invalid && nombre.touched"
    pattern="^[a-zA-ZñÑ\s]+$"
    
    >
    <small class="text-danger" *ngIf="nombre.invalid && nombre.touched">
      Ingrese mas de 5 letras
    </small>
    


    <div class="row">
      <div class="col-5">
        <label for="name" class="lbl">Direccion</label>
      </div>
    </div>
    <input type="text" 
    id="name" 
    placeholder="direccion" 
    class="textbox"
    name="direccion" 
    [(ngModel)]="persona.direccion"
    required
    minlength="5"
    #direccion="ngModel"
    [class.is-invalid]="direccion.invalid && direccion.touched"
    pattern="^[a-zA-ZñÑ\s0-9#º:]+$"
    >
    <small class="text-danger" *ngIf="direccion.invalid && direccion.touched">
      Ingrese mas de 5 letras
    </small>

    <br>

    <input type="checkbox" 
    id="termino" 
    placeholder="terminos" 
    class="check"
    name="terminos" 
    [(ngModel)]="persona.terminos"
    required
    minlength=""
    #terminos="ngModel"
    [class.is-invalid]="terminos.invalid && terminos.touched">
    Acepta los terminos y condiciones


    <div class="row">
      <div class="alinea-btn">
        <button type="submit" class="btn" [disabled]="!forma.valid">Guardar</button>
      </div>
    </div>




  </form>
</div>