h1{
  text-align: center;
  color: coral;
  padding: 10px 10px;
}
.container {
  border-radius: 5px;
  background-color: #f2f2f27c;
  padding: 20px;
  text-align: center;
}

.row {
  padding-top: 15px;
}


.lbl{
  display: block;
  padding: 0.5em 1.5em 0.5em 0;
}

.textbox {
  width: 25%;
  padding: 12px;
  border: 1px solid rgb(204, 204, 204);
  border-radius: 4px;
}

.alinea-btn{
  margin-left: 0.5%;
}

.btn {
  width: 10%;
  padding: 12px;
  cursor: pointer; 
}



/*validadciones*/

.is-invalid{
  border: 1px solid red;
}

.text-danger {
  display: block;
  margin-left: 2%;
  padding-top: 2px;
  color: #ff0000a6;
}

